::-webkit-scrollbar {
    display: none;
}

::placeholder {
    color: #666666;
    font-size: .8rem;
}


a {
    color: inherit;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: teko;
    background-color: #05040c;
    color: white;
    overflow: hidden;
}

.sidebar {
    box-shadow: .15px 0px 0px 0px #f2c178;
    width: 12em;
    height: 100vh;
    background: #0c0925;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
}

.logo {
    width: 5em;
    align-self: center;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 5px 25px;
    border-radius: 3px;
    cursor: pointer;
    font-family: "teko semibold";
    font-size: 1.1rem;
    color: #fff;
    text-shadow: 1.5px 1px 0px #4949bf;
}

.menu-item i {
    font-size: 18px;
    margin-right: 10px;
    position: relative;
    bottom: 1.9px;
}

.menu-item:hover {
    background: #333157;
}

.menu-item.active {
    background: #282870;
    color: #ffba53;
    text-shadow: .9px 1px 0px #935d07;
}



.main-page {
    display: flex;
    height: 100vh;
    overflow: hidden;
}






.main {
    height: 100vh;
    flex: 1;
    padding: 30px;
    overflow-y: auto;
    gap: 10px;
}

.top-bar {
    font-size: 1.2rem;
    margin-top: -20px;
    text-shadow: 2px 2px 0px #935d07;
    display: flex;
    width: 95%;
    justify-content: space-between;
}


.auth {
    display: flex;
    align-items: center;
    gap: 10px;
}

.auth-link {
    text-decoration: none;
    font-size: 17px;
    color: white;
    font-weight: 500;
    position: relative;
    top: -15px;
    text-shadow: .9px 1px 0px #4949bf;

}

.profile-icon {
    position: relative;
    top: -15px;
    width: 30px;
    height: 30px;
    background-color: #f2c94c;
    box-shadow: 1px 1px 0px 1px #935d07;
    border-radius: 50%;
    cursor: pointer;
}

.__user_search_bar__{
    display: flex;
    align-items: center;
    background-color: #303030;
    overflow: hidden;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    outline: none;
    width: 92%;
    box-shadow: 3px 3px 0px 1px #4949bf;
}

.__search_input__{
    background-color: #303030;
    font-size: 20px;
}
.search-bar .search-btn {
    background-color: #33333300;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

.__user_search_bar__ .ri-search-line {
    font-size: 16px;
    color: white;
}

.songs {
    width: 97%;
    height: 100%;
    margin-top: 25px;
}

.songs table {
    width: 100%;
    border-collapse: collapse;
}

.songs table th,
.songs table td {

    padding: 5px 15px;
    text-align: center;
}

.songs table th {

    border-bottom: 1px solid #333;
}


.songs table th {
    color: #acacac;
    font-weight: 400;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    width: 40px;
    position: relative;
    top: 10px;
    right: 10px;
    gap: 20px;
}

.action-buttons button {
    font-family: teko;
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 15px;
    background-color: #282870;
    color: white;
    border: none;
    box-shadow: 2px 2px 0px 1px #4949bf;
    cursor: pointer;
}

.action-buttons button:hover {
    background-color: #f2c178;
    box-shadow: 2px 2px 0px 1px #935d07;
    color: #000000;

}

.songs .user-profile {
    width: 50px;
    height: 50px;
    background-position: center;
    object-fit: cover;
    box-shadow: 2px 2px 0px 1px #4949bf;
    background-color: #282870;
}