.shadow_input{
    box-shadow: 5px 5px 0px #282870;
    background: gray;
}
.album_card{
    box-shadow: 5px 5px 0px #4949bf;
    background:   #282870;
}

/* 
// 282870
// 4949bf
// 935d07
// f2c178
// 05040c */

.recently_image{
    box-shadow: 5px 5px 0px #935d07;
}

.controller_image{
    box-shadow: 5px 5px 0px #4949bf;
}
.text_highlight{
    color: #f2c178;
}
.music-slider {
    height: 5px;
    appearance: none;
    outline: none;
    background: #555; /* Default background for unfilled portion */
    cursor: pointer;
}

/* Style the filled progress */
.music-slider::-webkit-slider-runnable-track {
    height: 5px;
    background: #f2c178; /* Filled portion */
}

/* Style the thumb (circle) */
.music-slider::-webkit-slider-thumb {
    appearance: none;
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    margin-top: -3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

/* Firefox styles */
.music-slider::-moz-range-track {
    height: 6px;
    border-radius: 5px;
    background: #555;
}

.music-slider::-moz-range-progress {
    background: linear-gradient(90deg, #1db954, #1ed760);
    height: 6px;
    border-radius: 5px;
}