.center-form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  margin-top: 50px;
  width: 500px;
  height: 100%;
  background: #282870;
  padding: 10px 20px;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.5);
}

.form-container h2 {
  color: #ffffff;
}

.form-container .edit_input {
  width: 95%;
  padding: 10px;
  border: none;
}

.form-container label {
  position: relative;
  top: 10px;
}

.form-container button {
  width: 100%;
  padding: 8px;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 10px;
  background-color: #ffba53;
  box-shadow: 2px 2px 0px 1px #935d07;
  border: none;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #f2c178;
}

.form-container .cancel-btn {
  margin-top: 10px;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  color: #333;
}

.form-container .cancel-btn {
  background-color: #d4d4d4;
}

.form-title {
  background-color: #4949bf;
  color: white;
  display: inline-block;
  padding: 5px 15px;
  font-size: 18px;
  width: 50%;
  position: relative;
  left: 20%;
  text-align: center;
  font-weight: 500;
}

.edit_input, textarea {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #fdfdfd;
}

.file-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  padding: 0px;
  border: 2px solid black;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: 500;
}

.form-container .file-input-container label {
  position: relative;
  background-color: #ffffff;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  top: 0px;
  text-align: center;
}

.form-container select {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #fdfdfd;
  font-size: 1rem;
  max-height: 50px; 
  overflow-y: auto;  
}

@media (max-width: 768px) {
  .form-container {
    width: 90%;
    height: auto;
  }
}
