.container{
    box-shadow: 7.5px 7.5px 0px #282870;
    border-radius: 5px;
}
.container_image{
    
    opacity: 0.5;
    border-radius: 5px;
}
.inner_image{
    opacity: 1;
    box-shadow: 5px 5px 0px #4949bf;
}

/* 
// 282870
// 4949bf
// 935d07
// f2c178
// 05040c */