.container_shadow{
    border-radius: 5px;
    box-shadow: 7.5px 7.5px 0px #4949bf;
}
.image_shadow{
    opacity: 0.5;
}
.inner_image_shadow{
    box-shadow: 5px 5px 0px #4949bf;
}
.highlight_text{
    color: #f2c178;
}
.album_shadow{
    box-shadow: 5px 5px 0px #4949bf;
}

.rounded_image{
    border-radius: 50%;
}

.hover_card:hover{
    background: #282870;
    border-radius: 5px;
    transition: 0.2s;
}

.populer_image{
    box-shadow: 5px 5px 0px #282870;
}
.populer_album_image{
    box-shadow: 5px 5px 0px #935d07;
    border-radius: 5px;
}
/* 
// 282870
// 4949bf
// 935d07
// f2c178
// 05040c */